<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.wikis.count, 'wiki') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h2>Wikis</h2>
    <% @user.wikis.each do |wiki| %>
        <%= link_to wiki.title, wiki %>
    <% end %>