<div class="jumbotron vertical-center">
    <span class="text-success"><h1 class="text-center"><strong>Welcome to Blocipedia!</strong></h1></span> <br /><br /><br />

    <div class="list-group">
        <p class="list-group-item list-group-item-info">
            <big><strong>wi&#8729ki</strong></big> <br />
            /'wik&#275/ <br />
            <em><small>noun</small></em> <br />
            a website that allows collaborative editing of its content and structure by its users.
        </p>
    </div> <br /><br />

    <p class="text-justify">
        Blocipedia is a site that will allow you to create public wikis using markdown for free or you can upgrade to a premium account and gain the ability to create private wikis!  You are able to
        add collaborators and work together to create something amazing!  Have fun with your time here at Blocipedia!
    </p><br /><br />

    <%= link_to "Get Started Now!", wikis_path, class: 'btn btn-success btn-lg btn-block' %>
</div>