<div class="jumbotron vertical-center">
    <h1 class="text-center">Welcome to Blocipedia!</h1>

    <p class="text-justify">
        Blocipedia is a site that will allow you to create public wikis using markdown for free or you can upgrade to a premium account and gain the ability to create private wikis!  You are able to
        add collaborators and work together to create something amazing!  Have fun with your time here at Blocipedia!
    </p><br />

    <%= link_to "Get Started Now!", wikis_path, class: 'btn btn-success btn-lg btn-block' %>
</div>