<h3><b><%= link_to 'Markdown CheatSheet', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' %></b></h3>

<ul>
    <li><b># H1</b> / <b>## H2</b> / <b>### H3</b> (etc)</li> <br />
    <li><em>*italics*</em></li> <br />
    <li>_u<u>nderlin</u>e_</li> <br />
    <li><b>**bold**</b> or <b>__bold__</b></li> <br />
    <li>~~<del>striketrhough</del>~~</li> <br />
    <li>1. Ordered Lists <br />2. Just Number Them</li> <br />
    <li>Use *, -, or + instead of numbers for dot lists</li> <br />
    <li>[some text](http://www.actual-link-for-text.com)</li> <br />
    <li>![alt-text](http://works-for-images-too!.com)</li> <br />
    <li>For code blocks just use: <br />
        ```language(optional)<br />
        //code goes here <br />
        ```</li> <br />
    <li>> This will create Blockquotes</li> <br />
    <li>---, ***, or ___ will create a line.</li> <br />
</ul>