@import "bootstrap-sprockets";
@import "bootstrap";

.my-head {
    margin-top: 10px;
}

body {
    background-color: gainsboro;
}

.vertical-center {
    position: absolute;
    top: 50%;
    right: 15%;
    left: 15%;
    transform: translateY(-50%);
}

.private-checkbox {
    margin-left: 20px !important;
}