<div class="container">    
    <div class="jumbotron">
        <h1 class="text-center">Hello <%= @resource.name %>!</h1>

        <p class="text-justify">
            We're contacting you to notify you that your password has been recently changed.  If you
            did not approve this change, please notify us immediately as your account may be compromised.
            We look forward to you visiting us again soon at:
        </p>
        
        <button type="button" class="btn btn-success btn-lg btn-block">Blocipedia!</button>

        <p class="pull-right"><em>-Tyler D. Franklin</em></p>
    </div>
</div>